* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #444;
    font-family: Avenir, Roboto, Helvetica, san-serif;

}

nav {
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
nav i{
    font-size: 1.5rem;
}
 .nav-bar {
    display: flex;
/*    width: 50%;*/
    padding: 0 70px;
     align-items: center;
     align-content: center;
    justify-content: space-around;
  }
  .nav-bar a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
      margin-right: 20px;
  }


main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    font-size: 0.9em;
    background-color: #f7f7f7;
    padding: 50px;
    height: 100%;
}

main .dish-card {
    padding: 2rem;
    background-color: #c9c9ea57;
    width: 100%;
        height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 0.5rem;


}
main .card-header{
    display: flex;
    justify-content: space-between;
}
main .card-header>.features{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-content:space-between;
}
main .card-header>.features>.vegetarian{
    margin-bottom: 20px;
}
main .card-header>.features>p>.sold-out{
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform:uppercase;
    align-self: baseline;
}

main article .dish-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
}


footer {
/*    position: absolute;*/
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
/*  background-color: #c9c9ea57;*/
/*  color: white;*/
  display: flex;
  flex-direction: column;
  justify-self: left;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;  Full width
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content .card-header img {
width: 90%;
}
.modal-content>.features{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
}
.modal-content>.features>.sold-out{
    align-self: baseline;
    margin-left: 20px;
    color: red;
      font-size: 1.4rem;
    font-weight: bold;
    text-transform:uppercase;
    align-self: flex-end;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 800px) {
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

}



